In [3]:
import pandas as pd

In [44]:
store = pd.read_csv("store.csv")

In [6]:
# store

In [10]:
dummy = store.head()

In [12]:
# dummy.head(1)

In [13]:
store.columns

Index(['Unnamed: 0', 'ID', 'Customer ID', 'Region', 'Store', 'Date', 'Week',
       'Phone Type', 'Phone Model', 'Agreement', 'Tenure', 'Credit Category',
       'Down payment', 'Per Month for phone', 'Plan For', 'Type', 'Plan Name',
       'Line', 'per month for plan ', 'Price'],
      dtype='object')

In [14]:
store["Phone Model"]

0               iPhone 6S
1                HTC Bolt
2                   LG G6
3              LG Stylo 3
4             Samsung S8+
5              LG Stylo 3
6             Samsung S8+
7                iPhone 7
8              LG Stylo 3
9              Samsung S8
10              iPhone 6S
11            Samsung S8+
12               iPhone 7
13                  LG G6
14            Samsung S8+
15          iPhone 7 Plus
16               iPhone 7
17          iPhone 7 Plus
18             Samsung S8
19                  LG G6
20            Samsung S8+
21               iPhone 7
22                 HTC 10
23        Samsung J7 Perx
24      Samsung J3 Emerge
25               iPhone 7
26               iPhone 7
27                 HTC 10
28             LG Stylo 3
29        Samsung J7 Perx
              ...
9970      Samsung J7 Perx
9971       iPhone 6S Plus
9972             iPhone 7
9973      Samsung J7 Perx
9974    Samsung J3 Emerge
9975          Samsung S8+
9976       iPhone 6S Plus
9977    Samsung J3 Emerge
9978      Samsung J7 Perx
9979          Samsung S8+
9980      Samsung J7 Perx
9981          Samsung S8+
9982             HTC Bolt
9983          Samsung S8+
9984            iPhone 6S
9985               HTC 10
9986           Samsung S8
9987       iPhone 6S Plus
9988        iPhone 7 Plus
9989            iPhone 6S
9990             HTC Bolt
9991          Samsung S8+
9992    Samsung J3 Emerge
9993               HTC 10
9994           LG Stylo 3
9995             HTC Bolt
9996       iPhone 6S Plus
9997             iPhone 7
9998       iPhone 6S Plus
9999           Samsung S8
Name: Phone Model, Length: 10000, dtype: object

In [15]:
type(store["Phone Model"])

pandas.core.series.Series

In [16]:
store["Phone Model"].unique()

array(['iPhone 6S', 'HTC Bolt', 'LG G6', 'LG Stylo 3', 'Samsung S8+',
       'iPhone 7', 'Samsung S8', 'iPhone 7 Plus', 'HTC 10',
       'Samsung J7 Perx', 'Samsung J3 Emerge', 'iPhone 6S Plus'],
      dtype=object)

In [17]:
store["Phone Model"].nunique()

12

In [18]:
store["Phone Model"].value_counts()

Samsung S8+          1300
iPhone 7 Plus        1274
iPhone 7             1248
Samsung S8           1217
LG Stylo 3            674
iPhone 6S Plus        630
Samsung J7 Perx       629
iPhone 6S             622
HTC 10                622
HTC Bolt              605
LG G6                 593
Samsung J3 Emerge     586
Name: Phone Model, dtype: int64

In [20]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Unnamed: 0             10000 non-null int64
ID                     10000 non-null int64
Customer ID            10000 non-null object
Region                 10000 non-null object
Store                  10000 non-null object
Date                   10000 non-null object
Week                   10000 non-null int64
Phone Type             10000 non-null object
Phone Model            10000 non-null object
Agreement              10000 non-null object
Tenure                 10000 non-null int64
Credit Category        10000 non-null object
Down payment           10000 non-null int64
Per Month for phone    10000 non-null float64
Plan For               10000 non-null object
Type                   10000 non-null object
Plan Name              10000 non-null object
Line                   10000 non-null int64
per month for plan     10000 non-null int64
Price                  10000 non-null float64
dtypes: float64(2), int64(7), object(11)
memory usage: 1.5+ MB

In [22]:
store.columns

Index(['Unnamed: 0', 'ID', 'Customer ID', 'Region', 'Store', 'Date', 'Week',
       'Phone Type', 'Phone Model', 'Agreement', 'Tenure', 'Credit Category',
       'Down payment', 'Per Month for phone', 'Plan For', 'Type', 'Plan Name',
       'Line', 'per month for plan ', 'Price'],
      dtype='object')

In [24]:
store.Price.describe()

count    10000.000000
mean        93.427091
std         90.464360
min          7.000000
25%         27.090000
50%         34.960000
75%        170.800000
max        275.000000
Name: Price, dtype: float64

In [25]:
store["Phone Model"].describe()

count           10000
unique             12
top       Samsung S8+
freq             1300
Name: Phone Model, dtype: object

In [26]:
store.columns

Index(['Unnamed: 0', 'ID', 'Customer ID', 'Region', 'Store', 'Date', 'Week',
       'Phone Type', 'Phone Model', 'Agreement', 'Tenure', 'Credit Category',
       'Down payment', 'Per Month for phone', 'Plan For', 'Type', 'Plan Name',
       'Line', 'per month for plan ', 'Price'],
      dtype='object')

In [27]:
store.Region[:5]

0    North East
1          West
2         South
3          West
4    North East
Name: Region, dtype: object

In [33]:
# store[store["Region"] == "North East"][["Price","Region"]]

In [34]:
store.columns

Index(['Unnamed: 0', 'ID', 'Customer ID', 'Region', 'Store', 'Date', 'Week',
       'Phone Type', 'Phone Model', 'Agreement', 'Tenure', 'Credit Category',
       'Down payment', 'Per Month for phone', 'Plan For', 'Type', 'Plan Name',
       'Line', 'per month for plan ', 'Price'],
      dtype='object')

In [36]:
# store.head().T

In [42]:
store.drop("Unnamed: 0", axis = 1, inplace=True)

In [45]:
store.columns

Index(['Unnamed: 0', 'ID', 'Customer ID', 'Region', 'Store', 'Date', 'Week',
       'Phone Type', 'Phone Model', 'Agreement', 'Tenure', 'Credit Category',
       'Down payment', 'Per Month for phone', 'Plan For', 'Type', 'Plan Name',
       'Line', 'per month for plan ', 'Price'],
      dtype='object')

In [47]:
a = store.drop("Unnamed: 0", axis = 1)

In [49]:
# a

In [50]:
store.columns

Index(['Unnamed: 0', 'ID', 'Customer ID', 'Region', 'Store', 'Date', 'Week',
       'Phone Type', 'Phone Model', 'Agreement', 'Tenure', 'Credit Category',
       'Down payment', 'Per Month for phone', 'Plan For', 'Type', 'Plan Name',
       'Line', 'per month for plan ', 'Price'],
      dtype='object')

In [52]:
# store.head(2)

In [53]:
store["Phone Type"].value_counts()

Android    6226
Apple      3774
Name: Phone Type, dtype: int64

In [54]:
store.Price.max()

275.0

In [55]:
store.Price.min()

7.0

In [57]:
store[store["Price"] <= 100].shape[0]

6552

In [58]:
import numpy as np

In [59]:
store["tagging"] = np.where(store["Price"] <= 100, "Low Price", "High Price")

In [60]:
store.tagging.value_counts()

Low Price     6552
High Price    3448
Name: tagging, dtype: int64

In [61]:
# store["tagging"] = np.where(store["Price"] <= 80, "Low Price", np.where("","",))

In [63]:
store.isnull().sum()

Unnamed: 0             0
ID                     0
Customer ID            0
Region                 0
Store                  0
Date                   0
Week                   0
Phone Type             0
Phone Model            0
Agreement              0
Tenure                 0
Credit Category        0
Down payment           0
Per Month for phone    0
Plan For               0
Type                   0
Plan Name              0
Line                   0
per month for plan     0
Price                  0
tagging                0
dtype: int64

In [65]:
# store[store["Phone Type"]== "Apple"]

In [74]:
store["Phone Model"][:2]

0    iPhone 6S
1     HTC Bolt
Name: Phone Model, dtype: object

In [76]:
store[store["Phone Model"].str.contains("iPhone")].head(2)

,Unnamed: 0,ID,Customer ID,Region,Store,Date,Week,Phone Type,Phone Model,Agreement,...,Credit Category,Down payment,Per Month for phone,Plan For,Type,Plan Name,Line,per month for plan,Price,tagging
0,0,1,###,North East,Store 9,1/22/2017,4,Apple,iPhone 6S,Installment,...,Building Credit,75,18.96,Phone,Regular,Unlimited Freedom,2,80,93.96,Low Price
7,7,8,###,North East,Store 5,2/20/2017,8,Apple,iPhone 7,Installment,...,Good Credit,0,27.09,Phone,Promo,Unlimited Freedom,5,120,27.09,Low Price

In [81]:
a = store[store["Phone Model"].str.contains("iPhone")].\
sort_values("Price", ascending=False).head(5)

In [82]:
# a.sort_values("Price", ascending=False).head(5).T

In [84]:
a.head(3)

,Unnamed: 0,ID,Customer ID,Region,Store,Date,Week,Phone Type,Phone Model,Agreement,...,Credit Category,Down payment,Per Month for phone,Plan For,Type,Plan Name,Line,per month for plan,Price,tagging
5639,5639,5640,###,Midwest,Store 10,1/5/2017,1,Apple,iPhone 7 Plus,Installment,...,Building Credit,200,23.75,Phone,Regular,Unlimited Freedom,1,60,223.75,High Price
753,753,754,###,Midwest,Store 18,3/28/2017,13,Apple,iPhone 7 Plus,Installment,...,Building Credit,200,23.75,Phone,Regular,Unlimited Freedom,3,90,223.75,High Price
3669,3669,3670,###,North East,Store 17,3/11/2017,10,Apple,iPhone 7 Plus,Installment,...,Building Credit,200,23.75,Phone,Regular,Unlimited Freedom,4,120,223.75,High Price

In [90]:
a = pd.DataFrame([1,2,3,4], columns=["A"], index="US FR AUSS EUR".split(" "))

In [91]:
a

      A
US    1
FR    2
AUSS  3
EUR   4

In [92]:
a.reset_index(inplace=True)

In [94]:
a.drop("index", axis= 1, inplace=True)

In [96]:
a.columns = [0]

In [97]:
a

   0
0  1
1  2
2  3
3  4

In [98]:
a.drop(2, inplace= True)

In [99]:
a

   0
0  1
1  2
3  4

In [100]:
a.columns = ["A"]

In [101]:
a

   A
0  1
1  2
3  4

In [103]:
# a.index= "abc"

In [105]:
a.index = "a b c".split(" ")

In [106]:
a

   A
a  1
b  2
c  4