In [1]:
import sqlalchemy as sql
import psycopg2

https://docs.sqlalchemy.org/en/latest/core/engines.html

https://www.analyticsvidhya.com/blog/2016/01/guide-data-exploration/

https://www.kaggle.com/residentmario/univariate-plotting-with-pandas

In [2]:
import getpass

In [3]:
pswrd = getpass.getpass()

········

In [4]:
engine =  sql.create_engine('postgresql://postgres:pass@123@localhost/shoppers_data')

In [6]:
engine

Engine(postgresql://postgres:***@localhost/shoppers_data)

In [7]:
import pandas as pd

In [8]:
cat_data = pd.read_sql("select * from categories", engine)

In [9]:
cat_data

,category_id,category_name,description,picture
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales",[]
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",[]
2,3,Confections,"Desserts, candies, and sweet breads",[]
3,4,Dairy Products,Cheeses,[]
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal",[]
5,6,Meat/Poultry,Prepared meats,[]
6,7,Produce,Dried fruit and bean curd,[]
7,8,Seafood,Seaweed and fish,[]
8,9,Kitchen,"Soft Drinks, Sausage, Spices etc.",None

In [12]:
orders = pd.read_sql("""
select * from order_details
""",engine)

In [14]:
orders.head(4)

   order_id  product_id  unit_price  quantity  discount
0     10248          11        14.0        12       0.0
1     10248          42         9.8        10       0.0
2     10248          72        34.8         5       0.0
3     10249          14        18.6         9       0.0

In [15]:
import numpy as np

In [22]:
summary = orders.groupby("order_id").agg({"product_id":pd.Series.nunique, "unit_price":"sum","quantity": "sum"})\
.sort_values("unit_price", ascending= False).reset_index().head(10).to_sql("top10Orders",engine, index= False, if_exists="replace")

In [24]:
# summary

In [28]:
summary.to_sql("top10Orders",engine, index= False, if_exists="replace")

In [20]:
# orders.info()

In [21]:
type(orders)

pandas.core.frame.DataFrame

In [24]:
import numpy as np

In [33]:
dat = orders.groupby("order_id").agg({"product_id":pd.Series.nunique,"unit_price":np.sum})

In [35]:
# 11077
dat.reset_index(inplace= True)

In [38]:
# dat[dat["order_id"]==11077]
dat.sort_values("unit_price", ascending=False,inplace=True)

In [47]:
dat["order_id"].iloc[0]

11077

In [30]:
orders.head(4)

   order_id  product_id  unit_price  quantity  discount
0     10248          11        14.0        12       0.0
1     10248          42         9.8        10       0.0
2     10248          72        34.8         5       0.0
3     10249          14        18.6         9       0.0

In [31]:
data = pd.read_sql("""
select order_id, sum(unit_price) as net_spend_amt, sum(quantity) as total_units
from order_details group by order_id order by net_spend_amt desc
""", engine)

In [33]:
data.head(4)

   order_id  net_spend_amt  total_units
0     11077         574.35           72
1     10360         368.10          138
2     10817         362.43          155
3     10964         362.00           21

In [53]:
data.to_excel("info.xlsx", index=False)

In [30]:
import os

In [31]:
os.getcwd()

'D:\\anaconda_latest\\Python-for-Data-Analysis\\Pandas'

In [ ]:
# df = pd.read_csv("matches.csv")
# df.to_sql("matches_info",engine,index=False, if_exists="replace")

In [55]:
data.to_sql("order_info",engine,index=False, if_exists="replace")

In [17]:
engine.execute("""
create table emp_details3 as select distinct
emp.employee_id,first_name, last_name,d.territory_description, d.region_description from 
(select * from employees) emp
join
(select * from 
(select * from employee_territories) empt
join
(select * from 
(select * from territories) ter
join
(select * from region) reg
on ter.region_id = reg.region_id)c 
on empt.territory_id = c.territory_id)d
on emp.employee_id = d.employee_id order by emp.employee_id
""")

In [34]:
tagged_data = pd.read_sql("""
select product_name, unit_price,
CASE 
WHEN unit_price >= 1 and unit_price <=10 then 'Low Price'  
WHEN unit_price > 10 and unit_price <=20 then 'Mid Price' 
ELSE 'High Price'
end 
as tag
from products order by unit_price;
""",engine)

In [35]:
tagged_data.head()

         product_name  unit_price        tag
0             Geitost        2.50  Low Price
1  Guaraná Fantástica        4.50  Low Price
2               Konbu        6.00  Low Price
3            Filo Mix        7.00  Low Price
4           Tourtière        7.45  Low Price

In [19]:
tagged_data.tag.value_counts()

High Price    37
Mid Price     26
Low Price     14
Name: tag, dtype: int64

In [26]:
pd.read_sql("""
select emp.employee_id,first_name, last_name,d.territory_description, d.region_description from 
(select * from employees) emp
join
(select * from (select * from employee_territories) empt
join
(select * from (select * from territories) ter
join
(select * from region) reg
on ter.region_id = reg.region_id)c 
on empt.territory_id = c.territory_id)d
on emp.employee_id = d.employee_id order by emp.employee_id
""", engine)

    employee_id first_name  last_name territory_description region_description
0             1      Nancy    Davolio                Wilton            Eastern
1             1      Nancy    Davolio                Neward            Eastern
2             2     Andrew     Fuller              Westboro            Eastern
3             2     Andrew     Fuller               Bedford            Eastern
4             2     Andrew     Fuller             Georgetow            Eastern
5             2     Andrew     Fuller                Boston            Eastern
6             2     Andrew     Fuller             Cambridge            Eastern
7             2     Andrew     Fuller             Braintree            Eastern
8             2     Andrew     Fuller            Louisville            Eastern
9             3      Janet  Leverling               Atlanta           Southern
10            3      Janet  Leverling              Savannah           Southern
11            3      Janet  Leverling               Orlando           Southern
12            3      Janet  Leverling                 Tampa           Southern
13            4   Margaret    Peacock             Rockville            Eastern
14            4   Margaret    Peacock            Greensboro            Eastern
15            4   Margaret    Peacock                  Cary            Eastern
16            5     Steven   Buchanan            Providence            Eastern
17            5     Steven   Buchanan            Morristown            Eastern
18            5     Steven   Buchanan                Edison            Eastern
19            5     Steven   Buchanan              New York            Eastern
20            5     Steven   Buchanan              New York            Eastern
21            5     Steven   Buchanan              Mellvile            Eastern
22            5     Steven   Buchanan              Fairport            Eastern
23            6    Michael     Suyama               Phoenix            Western
24            6    Michael     Suyama            Scottsdale            Western
25            6    Michael     Suyama              Bellevue            Western
26            6    Michael     Suyama               Redmond            Western
27            6    Michael     Suyama               Seattle            Western
28            7     Robert       King       Hoffman Estates            Western
29            7     Robert       King               Chicago            Western
30            7     Robert       King                Denver            Western
31            7     Robert       King      Colorado Springs            Western
32            7     Robert       King          Santa Monica            Western
33            7     Robert       King            Menlo Park            Western
34            7     Robert       King         San Francisco            Western
35            7     Robert       King              Campbell            Western
36            7     Robert       King           Santa Clara            Western
37            7     Robert       King            Santa Cruz            Western
38            8      Laura   Callahan          Philadelphia           Northern
39            8      Laura   Callahan             Beachwood           Northern
40            8      Laura   Callahan               Findlay           Northern
41            8      Laura   Callahan                Racine           Northern
42            9       Anne  Dodsworth                Hollis           Northern
43            9       Anne  Dodsworth            Portsmouth           Northern
44            9       Anne  Dodsworth            Southfield           Northern
45            9       Anne  Dodsworth                  Troy           Northern
46            9       Anne  Dodsworth      Bloomfield Hills           Northern
47            9       Anne  Dodsworth             Roseville           Northern
48            9       Anne  Dodsworth           Minneapolis           Northern

In [27]:
pd.read_sql("""
select a.*,first_name, last_name from
(select employee_id, count(order_id) as tot_orders from orders 
where order_date > '1996-07-04' and order_date < '1997-07-04' group by 
employee_id order by employee_id)a
join
(select * from employees) b
on a.employee_id = b.employee_id
""",engine)

   employee_id  tot_orders first_name  last_name
0            1          47      Nancy    Davolio
1            2          36     Andrew     Fuller
2            3          53      Janet  Leverling
3            4          67   Margaret    Peacock
4            5          17     Steven   Buchanan
5            6          29    Michael     Suyama
6            7          30     Robert       King
7            8          47      Laura   Callahan
8            9          14       Anne  Dodsworth

In [20]:
pd.read_sql("select * from emp_details where region_description = 'Eastern'",engine)

    employee_id first_name last_name territory_description region_description
0             1      Nancy   Davolio                Wilton            Eastern
1             1      Nancy   Davolio                Neward            Eastern
2             2     Andrew    Fuller              Westboro            Eastern
3             2     Andrew    Fuller               Bedford            Eastern
4             2     Andrew    Fuller             Georgetow            Eastern
5             2     Andrew    Fuller                Boston            Eastern
6             2     Andrew    Fuller             Cambridge            Eastern
7             2     Andrew    Fuller             Braintree            Eastern
8             2     Andrew    Fuller            Louisville            Eastern
9             4   Margaret   Peacock             Rockville            Eastern
10            4   Margaret   Peacock            Greensboro            Eastern
11            4   Margaret   Peacock                  Cary            Eastern
12            5     Steven  Buchanan            Providence            Eastern
13            5     Steven  Buchanan            Morristown            Eastern
14            5     Steven  Buchanan                Edison            Eastern
15            5     Steven  Buchanan              New York            Eastern
16            5     Steven  Buchanan              New York            Eastern
17            5     Steven  Buchanan              Mellvile            Eastern
18            5     Steven  Buchanan              Fairport            Eastern

In [38]:
pd.read_sql("select count(distinct order_id) from orders", engine)

   count
0    830

In [22]:
pd.read_sql("select employee_id, count(employee_id) from emp_details where region_description = 'Eastern' group by employee_id",engine)

   employee_id  count
0            1      2
1            2      7
2            4      3
3            5      7

In [58]:
engine.execute("update employees set last_name= 'Sharma' where first_name='Andrew'")

In [59]:
engine.execute("delete from employees where employee_id=2")

In [21]:
pd.read_sql("select count( distinct employee_id) from emp_details where region_description = 'Eastern'",engine)

   count
0      4

In [30]:
# pd.read_sql("""
# select  employee_id,region_description,
# count(*) over(partition by employee_id)
# from emp_details
# """,engine)

In [60]:
engine =  sql.create_engine('postgresql://postgres:pass@123@localhost/employee')

In [61]:
engine

Engine(postgresql://postgres:***@localhost/employee)

In [11]:
import pandas as pd

In [12]:
pd.read_sql("""
select first_name, department, count(*)
from employees group by department,first_name
""",engine)

     first_name         department  count
0          Ezri             Garden      1
1         Vonny          Furniture      1
2         Sofia        Maintenance      1
3     Timotheus  Children Clothing      1
4        Kathye             Beauty      1
5     Bathsheba            Camping      1
6     Valentine   Phones & Tablets      1
7      Nathalia          Furniture      1
8       Rhianna             Beauty      1
9         Riane              Tools      1
10         Toby      Device Repair      1
11      Anatola             Movies      1
12    Archibold         Automotive      1
13     Elianora              Games      1
14      Willard          Furniture      1
15          Nev             Garden      1
16      Berkley               Toys      1
17        Niles              Music      1
18       Bonnee          Cosmetics      1
19     Sashenka          Furniture      1
20           Ev            Grocery      1
21       Billie           Plumbing      1
22      Agnella            Camping      1
23      Tabitha             Movies      1
24        Lanie          First Aid      1
25         Flss      Device Repair      1
26    Claudetta             Sports      1
27        Taite  Children Clothing      1
28        Salli          Furniture      1
29        Blake              Books      1
..          ...                ...    ...
969   Sebastian      Device Repair      1
970        Port           Clothing      1
971      Conrad               Toys      1
972   Elbertina             Movies      1
973      Feliks          Computers      1
974     Wrennie          Furniture      1
975      Aylmar             Garden      1
976   Krystalle              Decor      2
977    Alphonse          Cosmetics      1
978      Danice             Garden      1
979   Katharine   Phones & Tablets      1
980         Cal          Cosmetics      1
981       Lydon              Books      1
982      Javier          Computers      1
983         Rob          First Aid      1
984       Nefen              Decor      1
985       Olvan              Books      1
986  Wilhelmina            Jewelry      1
987     Austina  Children Clothing      1
988    Hermione              Music      1
989     Kerstin            Grocery      1
990      Alfons              Games      1
991    Stefania             Movies      1
992     Natalee              Tools      1
993        Orsa          First Aid      1
994       Karna            Jewelry      1
995    Cherilyn            Grocery      1
996       Mayer             Garden      1
997        Dani            Camping      1
998     Jamison             Garden      1

[999 rows x 3 columns]

In [34]:
pd.read_sql("""
select first_name, department,
count(*) over()
from employees;
""",engine)

     first_name         department  count
0        Berrie             Sports   1000
1       Aeriell              Tools   1000
2        Sydney           Clothing   1000
3         Avrom   Phones & Tablets   1000
4        Feliks          Computers   1000
5       Bethena             Sports   1000
6        Ardeen           Clothing   1000
7        Seline   Phones & Tablets   1000
8         Dayle          First Aid   1000
9       Redford           Clothing   1000
10       Nickey            Jewelry   1000
11      Leonora             Beauty   1000
12       Anetta              Games   1000
13         Jodi              Tools   1000
14       Alyson          Furniture   1000
15       Merell             Movies   1000
16       Annora               Toys   1000
17       Ronica               Toys   1000
18   Bernardine      Device Repair   1000
19       Jessey          Computers   1000
20     Bernardo           Clothing   1000
21        Cayla            Grocery   1000
22        Vanda         Automotive   1000
23      Corabel           Pharmacy   1000
24         Zane          Cosmetics   1000
25    Frasquito             Movies   1000
26        Niles             Movies   1000
27     Emanuele             Garden   1000
28       Cortie              Games   1000
29         Benn             Beauty   1000
..          ...                ...    ...
970     Noellyn            Camping   1000
971  Cirstoforo           Clothing   1000
972        Dona              Decor   1000
973      Thorpe             Garden   1000
974        Isis             Movies   1000
975       Lydon              Books   1000
976      Vickie             Movies   1000
977        Shem              Tools   1000
978      Delila             Sports   1000
979       Lyndy          Computers   1000
980    Thorvald              Music   1000
981        Enid        Maintenance   1000
982      Henrik      Device Repair   1000
983      Krista              Music   1000
984       Nelli            Grocery   1000
985      Sheila          Computers   1000
986      Granny             Movies   1000
987        Tabb         Automotive   1000
988         Ari   Phones & Tablets   1000
989   Cristiano          First Aid   1000
990    Marquita             Sports   1000
991   Katharine   Phones & Tablets   1000
992       Frank  Children Clothing   1000
993      Aurlie      Device Repair   1000
994       Reese               Toys   1000
995    Gardiner             Garden   1000
996     Rhianna             Beauty   1000
997    Brandice   Phones & Tablets   1000
998    Kingston              Music   1000
999   Jacquelin              Music   1000

[1000 rows x 3 columns]

In [68]:
pd.read_sql("""
select distinct department, 
count(*) over(partition by department)
from employees order by department
""",engine)

           department  count
0          Automotive     32
1              Beauty     45
2               Books     37
3             Camping     36
4   Children Clothing     47
5            Clothing     49
6           Computers     47
7           Cosmetics     34
8               Decor     39
9       Device Repair     51
10          First Aid     58
11          Furniture     43
12              Games     36
13             Garden     41
14            Grocery     28
15            Jewelry     41
16        Maintenance      8
17             Movies     56
18              Music     29
19           Pharmacy     38
20   Phones & Tablets     35
21           Plumbing      7
22           Security      6
23             Sports     34
24              Tools     39
25               Toys     47
26           Vitamins     37

In [11]:
pd.read_sql("""select first_name, department 
from employees where department = 'Automotive'""",engine)

    first_name  department
0        Vanda  Automotive
1        Irita  Automotive
2      Jilleen  Automotive
3       Roslyn  Automotive
4       Tammie  Automotive
5     Sterling  Automotive
6      Lorelle  Automotive
7      Ladonna  Automotive
8     Lauretta  Automotive
9          Doe  Automotive
10      Stormy  Automotive
11  Clementina  Automotive
12      Betsey  Automotive
13    Jessalyn  Automotive
14   Cherianne  Automotive
15        Mill  Automotive
16       Cybil  Automotive
17          Cy  Automotive
18      Katlin  Automotive
19      Abbott  Automotive
20      Noelyn  Automotive
21      Charis  Automotive
22        Ivie  Automotive
23     Chrissy  Automotive
24         Way  Automotive
25       Poppy  Automotive
26   Archibold  Automotive
27     Berkley  Automotive
28      Laurie  Automotive
29   Maryellen  Automotive
30     Merlina  Automotive
31        Tabb  Automotive

In [18]:
pd.read_sql("""
select distinct department, count from(
select first_name, department, 
count(*) over(partition by department)
from employees)abc
""",engine)

           department  count
0           Cosmetics     34
1          Automotive     32
2            Plumbing      7
3               Books     37
4            Clothing     49
5         Maintenance      8
6   Children Clothing     47
7           Computers     47
8            Pharmacy     38
9              Movies     56
10            Grocery     28
11              Games     36
12      Device Repair     51
13               Toys     47
14              Music     29
15   Phones & Tablets     35
16            Jewelry     41
17              Tools     39
18          Furniture     43
19           Security      6
20             Garden     41
21          First Aid     58
22             Beauty     45
23             Sports     34
24            Camping     36
25              Decor     39
26           Vitamins     37

In [19]:
pd.read_sql("""
select first_name, department, (select count(*) from employees e1 where e1.department = e2.department)
from employees e2 group by department,first_name;
""",engine)

     first_name         department  count
0          Ezri             Garden     41
1         Vonny          Furniture     43
2         Sofia        Maintenance      8
3     Timotheus  Children Clothing     47
4        Kathye             Beauty     45
5     Bathsheba            Camping     36
6     Valentine   Phones & Tablets     35
7      Nathalia          Furniture     43
8       Rhianna             Beauty     45
9         Riane              Tools     39
10         Toby      Device Repair     51
11      Anatola             Movies     56
12    Archibold         Automotive     32
13     Elianora              Games     36
14      Willard          Furniture     43
15          Nev             Garden     41
16      Berkley               Toys     47
17        Niles              Music     29
18       Bonnee          Cosmetics     34
19     Sashenka          Furniture     43
20           Ev            Grocery     28
21       Billie           Plumbing      7
22      Agnella            Camping     36
23      Tabitha             Movies     56
24        Lanie          First Aid     58
25         Flss      Device Repair     51
26    Claudetta             Sports     34
27        Taite  Children Clothing     47
28        Salli          Furniture     43
29        Blake              Books     37
..          ...                ...    ...
969   Sebastian      Device Repair     51
970        Port           Clothing     49
971      Conrad               Toys     47
972   Elbertina             Movies     56
973      Feliks          Computers     47
974     Wrennie          Furniture     43
975      Aylmar             Garden     41
976   Krystalle              Decor     39
977    Alphonse          Cosmetics     34
978      Danice             Garden     41
979   Katharine   Phones & Tablets     35
980         Cal          Cosmetics     34
981       Lydon              Books     37
982      Javier          Computers     47
983         Rob          First Aid     58
984       Nefen              Decor     39
985       Olvan              Books     37
986  Wilhelmina            Jewelry     41
987     Austina  Children Clothing     47
988    Hermione              Music     29
989     Kerstin            Grocery     28
990      Alfons              Games     36
991    Stefania             Movies     56
992     Natalee              Tools     39
993        Orsa          First Aid     58
994       Karna            Jewelry     41
995    Cherilyn            Grocery     28
996       Mayer             Garden     41
997        Dani            Camping     36
998     Jamison             Garden     41

[999 rows x 3 columns]

In [70]:
pd.read_sql("""
select distinct  department,
sum(salary) over(partition by department) as total_sal
from employees;
""",engine)

           department  total_sal
0               Books    3570404
1               Tools    3257655
2               Music    2678468
3               Decor    3617882
4              Beauty    4341935
5           Cosmetics    3684978
6            Vitamins    3343246
7          Automotive    3553477
8   Children Clothing    4113019
9           Computers    4515035
10           Clothing    4112739
11              Games    3084644
12             Sports    2986304
13           Security     539701
14               Toys    4846171
15            Grocery    2640285
16          First Aid    5170963
17             Garden    3502691
18            Jewelry    3303620
19             Movies    4997798
20   Phones & Tablets    3139081
21           Pharmacy    3548141
22           Plumbing     687569
23        Maintenance     614342
24          Furniture    3757056
25            Camping    3502873
26      Device Repair    4461517

In [27]:
pd.read_sql("""
select first_name, department, 
count(*) over(partition by department) dept_count,
region_id,
count(*) over(partition by region_id) reg_count
from employees where region_id = 6;
""",engine)

     first_name         department  dept_count  region_id  reg_count
0           Way         Automotive           6          6        146
1        Katlin         Automotive           6          6        146
2      Lauretta         Automotive           6          6        146
3          Tabb         Automotive           6          6        146
4        Stormy         Automotive           6          6        146
5     Cherianne         Automotive           6          6        146
6        Lawton             Beauty           7          6        146
7       Wendell             Beauty           7          6        146
8       Johnnie             Beauty           7          6        146
9       De witt             Beauty           7          6        146
10       Jobina             Beauty           7          6        146
11       Kathye             Beauty           7          6        146
12       Orland             Beauty           7          6        146
13   Philippine              Books           3          6        146
14         Alis              Books           3          6        146
15      Sephira              Books           3          6        146
16       Darius            Camping           4          6        146
17        Lissy            Camping           4          6        146
18       Danice            Camping           4          6        146
19     Vincents            Camping           4          6        146
20          Lek  Children Clothing           4          6        146
21      Jewelle  Children Clothing           4          6        146
22      Austina  Children Clothing           4          6        146
23       Orelia  Children Clothing           4          6        146
24      Filippa           Clothing          10          6        146
25     Bernardo           Clothing          10          6        146
26        Becka           Clothing          10          6        146
27    Stanfield           Clothing          10          6        146
28       Elvira           Clothing          10          6        146
29       Lawton           Clothing          10          6        146
..          ...                ...         ...        ...        ...
116      Fields           Pharmacy           9          6        146
117       Emlyn           Pharmacy           9          6        146
118      Rooney           Pharmacy           9          6        146
119      Jasper           Pharmacy           9          6        146
120       Sibyl           Pharmacy           9          6        146
121      Ingrim   Phones & Tablets           3          6        146
122       Lanny   Phones & Tablets           3          6        146
123     Sosanna   Phones & Tablets           3          6        146
124       Giana           Plumbing           1          6        146
125     Kincaid           Security           4          6        146
126      Gianni           Security           4          6        146
127     Corabel           Security           4          6        146
128     Timothy           Security           4          6        146
129      Delila             Sports           4          6        146
130       Andra             Sports           4          6        146
131      Darrin             Sports           4          6        146
132     Michail             Sports           4          6        146
133    Jephthah              Tools           3          6        146
134       Mandy              Tools           3          6        146
135       Patsy              Tools           3          6        146
136      Tanner               Toys           3          6        146
137      Ricard               Toys           3          6        146
138      Sileas               Toys           3          6        146
139        Cary           Vitamins           7          6        146
140    Cecilius           Vitamins           7          6        146
141        Gran           Vitamins           7          6        146
142       Ivett           Vitamins           7          6        146
143  Bartholemy           Vitamins           7          6        146
144        Evin           Vitamins           7          6        146
145       Gilda           Vitamins           7          6        146

[146 rows x 5 columns]

In [25]:
pd.read_sql("select distinct region_id from employees ", engine)

   region_id
0          6
1          4
2          5
3          1
4          2
5          3
6          7

In [26]:
pd.read_sql("""
select count(*) from employees where region_id=
6""",engine)

   count
0    146

In [43]:
pd.read_sql("""
select first_name, hire_date, salary from employees
order by hire_date;
""",engine)

     first_name   hire_date  salary
0        Norbie  2003-01-01   82215
1     Cassandra  2003-01-01  106936
2          Rora  2003-01-12  153489
3        Feliks  2003-01-14   55307
4      Cecilius  2003-01-20   98882
5      Eugenius  2003-01-26  152118
6      Fiorenze  2003-02-17   51266
7        Elnora  2003-02-22   34355
8       Chelsey  2003-02-24   57309
9      Dorothea  2003-02-27   46062
10      Yardley  2003-02-28   26876
11        Dayle  2003-03-01   82753
12         Bear  2003-03-02  143117
13       Nonnah  2003-03-08  145169
14        Jamie  2003-03-13   99770
15         Arvy  2003-03-16   76125
16         Edna  2003-04-09   91397
17         Alis  2003-04-09  148531
18    Maryellen  2003-04-19  115973
19       Dorene  2003-04-23   97700
20    Archibold  2003-04-26   69379
21         Tabb  2003-05-02   47591
22    Krystalle  2003-05-05  135377
23       Granny  2003-05-13  125798
24      Darnall  2003-05-23   77589
25         Eddy  2003-05-28   99124
26       Creigh  2003-05-31  133537
27        Byron  2003-06-02   54434
28       Abbott  2003-06-05  106517
29      Rubetta  2003-06-07  104955
..          ...         ...     ...
970      Darrin  2016-08-10   86327
971       Kermy  2016-08-13   35931
972      Eudora  2016-08-18   31792
973     Shelton  2016-08-22  139827
974     Rodolph  2016-08-24   45769
975     Mirelle  2016-08-27   23051
976  Clementina  2016-09-04   95492
977    Birgitta  2016-09-12   77259
978      Harold  2016-09-22  105274
979     Linnell  2016-09-25   98885
980     Carissa  2016-09-25  166765
981     Ernesto  2016-09-26   57633
982        Roma  2016-10-02  120070
983       Berti  2016-10-06  150740
984      Lebbie  2016-10-07   57389
985       Jeane  2016-10-09  136466
986      Buckie  2016-10-10   30289
987         Reg  2016-10-28   36053
988       Alvin  2016-11-01   69999
989        Dona  2016-11-09   98159
990       Darin  2016-11-18  142023
991     Malcolm  2016-11-24  138493
992       Hewet  2016-11-24  113979
993    Adelaide  2016-12-01   27578
994     Marlowe  2016-12-01   66384
995      Eloisa  2016-12-02   39200
996        Edik  2016-12-11   88378
997       Roxie  2016-12-16   42224
998   Cherianne  2016-12-18  150821
999       Barby  2016-12-26  164588

[1000 rows x 3 columns]

In [30]:
pd.read_sql("""
select sum(salary) from employees;
""",engine)

        sum
0  91571594

In [71]:
82215 + 106936 + 153489 +55307

397947

In [28]:
pd.read_sql("""
select first_name, hire_date, salary,
sum(salary) over(order by hire_date range between unbounded preceding and current row) as 
total_running_salaries
from employees;
""",engine)

     first_name   hire_date  salary  total_running_salaries
0        Norbie  2003-01-01   82215                  189151
1     Cassandra  2003-01-01  106936                  189151
2          Rora  2003-01-12  153489                  342640
3        Feliks  2003-01-14   55307                  397947
4      Cecilius  2003-01-20   98882                  496829
5      Eugenius  2003-01-26  152118                  648947
6      Fiorenze  2003-02-17   51266                  700213
7        Elnora  2003-02-22   34355                  734568
8       Chelsey  2003-02-24   57309                  791877
9      Dorothea  2003-02-27   46062                  837939
10      Yardley  2003-02-28   26876                  864815
11        Dayle  2003-03-01   82753                  947568
12         Bear  2003-03-02  143117                 1090685
13       Nonnah  2003-03-08  145169                 1235854
14        Jamie  2003-03-13   99770                 1335624
15         Arvy  2003-03-16   76125                 1411749
16         Edna  2003-04-09   91397                 1651677
17         Alis  2003-04-09  148531                 1651677
18    Maryellen  2003-04-19  115973                 1767650
19       Dorene  2003-04-23   97700                 1865350
20    Archibold  2003-04-26   69379                 1934729
21         Tabb  2003-05-02   47591                 1982320
22    Krystalle  2003-05-05  135377                 2117697
23       Granny  2003-05-13  125798                 2243495
24      Darnall  2003-05-23   77589                 2321084
25         Eddy  2003-05-28   99124                 2420208
26       Creigh  2003-05-31  133537                 2553745
27        Byron  2003-06-02   54434                 2608179
28       Abbott  2003-06-05  106517                 2714696
29      Rubetta  2003-06-07  104955                 2819651
..          ...         ...     ...                     ...
970      Darrin  2016-08-10   86327                89021083
971       Kermy  2016-08-13   35931                89057014
972      Eudora  2016-08-18   31792                89088806
973     Shelton  2016-08-22  139827                89228633
974     Rodolph  2016-08-24   45769                89274402
975     Mirelle  2016-08-27   23051                89297453
976  Clementina  2016-09-04   95492                89392945
977    Birgitta  2016-09-12   77259                89470204
978      Harold  2016-09-22  105274                89575478
979     Linnell  2016-09-25   98885                89841128
980     Carissa  2016-09-25  166765                89841128
981     Ernesto  2016-09-26   57633                89898761
982        Roma  2016-10-02  120070                90018831
983       Berti  2016-10-06  150740                90169571
984      Lebbie  2016-10-07   57389                90226960
985       Jeane  2016-10-09  136466                90363426
986      Buckie  2016-10-10   30289                90393715
987         Reg  2016-10-28   36053                90429768
988       Alvin  2016-11-01   69999                90499767
989        Dona  2016-11-09   98159                90597926
990       Darin  2016-11-18  142023                90739949
991     Malcolm  2016-11-24  138493                90992421
992       Hewet  2016-11-24  113979                90992421
993    Adelaide  2016-12-01   27578                91086383
994     Marlowe  2016-12-01   66384                91086383
995      Eloisa  2016-12-02   39200                91125583
996        Edik  2016-12-11   88378                91213961
997       Roxie  2016-12-16   42224                91256185
998   Cherianne  2016-12-18  150821                91407006
999       Barby  2016-12-26  164588                91571594

[1000 rows x 4 columns]

In [31]:
pd.read_sql("""
select first_name, hire_date, department,salary,
sum(salary) over( partition by department order by hire_date)
from employees;
""",engine)

      first_name   hire_date  department  salary      sum
0      Maryellen  2003-04-19  Automotive  115973   115973
1      Archibold  2003-04-26  Automotive   69379   185352
2           Tabb  2003-05-02  Automotive   47591   232943
3         Abbott  2003-06-05  Automotive  106517   339460
4        Ladonna  2003-08-10  Automotive  111775   451235
5         Roslyn  2003-08-11  Automotive  157260   608495
6        Lorelle  2004-01-27  Automotive  119959   728454
7          Cybil  2004-04-01  Automotive  123828   852282
8       Sterling  2004-09-02  Automotive   56095   908377
9       Jessalyn  2004-10-03  Automotive   86929   995306
10         Irita  2004-10-15  Automotive  160783  1156089
11           Way  2006-07-15  Automotive   51989  1208078
12        Laurie  2007-05-31  Automotive   29752  1237830
13       Berkley  2007-06-11  Automotive   44641  1282471
14      Lauretta  2007-12-14  Automotive   75978  1358449
15       Merlina  2009-02-16  Automotive  137094  1495543
16          Ivie  2010-04-04  Automotive  111359  1606902
17         Poppy  2010-07-27  Automotive  144511  1751413
18          Mill  2011-01-08  Automotive  162522  1913935
19        Katlin  2011-05-21  Automotive   60089  1974024
20        Tammie  2011-12-08  Automotive  160039  2134063
21        Betsey  2012-02-10  Automotive  152141  2286204
22       Jilleen  2013-04-20  Automotive  137393  2423597
23         Vanda  2014-02-06  Automotive  103570  2527167
24       Chrissy  2014-02-27  Automotive  146522  2673689
25        Noelyn  2014-05-28  Automotive  125305  2798994
26           Doe  2014-10-14  Automotive  106046  2905040
27        Stormy  2015-07-28  Automotive  126983  3032023
28        Charis  2015-08-14  Automotive  130995  3163018
29            Cy  2016-01-18  Automotive  144146  3307164
..           ...         ...         ...     ...      ...
970        Lyndy  2005-06-20    Vitamins  103572   547717
971         Gran  2005-12-01    Vitamins   43666   591383
972      Bradley  2007-05-05    Vitamins   55793   647176
973         Romy  2007-07-14    Vitamins  152916   800092
974        Norri  2008-04-26    Vitamins  158847   958939
975       Mendie  2008-05-14    Vitamins  141707  1100646
976       Odessa  2009-08-06    Vitamins  123268  1223914
977        Shell  2010-03-28    Vitamins   47649  1271563
978         Alfy  2010-08-15    Vitamins   64811  1336374
979         Evin  2010-09-23    Vitamins   59706  1396080
980       Mikael  2010-12-07    Vitamins   52642  1448722
981      William  2011-03-09    Vitamins   95453  1544175
982         Tobi  2012-04-10    Vitamins   68925  1613100
983      Garrard  2012-06-19    Vitamins  104859  1717959
984       Manolo  2012-06-25    Vitamins  146293  1864252
985        Xever  2012-11-21    Vitamins  145879  2010131
986        Daren  2012-11-26    Vitamins   67549  2077680
987      Trescha  2013-03-02    Vitamins  135611  2213291
988         Lion  2013-08-15    Vitamins  104269  2317560
989          Tab  2014-07-16    Vitamins  141816  2459376
990       Arlina  2014-11-25    Vitamins  122516  2581892
991        Earle  2014-12-04    Vitamins   53808  2635700
992      Maridel  2014-12-05    Vitamins   24884  2660584
993  Archambault  2015-09-12    Vitamins  123287  2783871
994         Cary  2015-09-13    Vitamins  139145  2923016
995   Bartholemy  2015-11-08    Vitamins   25238  2948254
996        Ivett  2016-03-18    Vitamins   64753  3013007
997        Nadia  2016-03-25    Vitamins  136017  3149024
998       Elvera  2016-07-17    Vitamins  163933  3312957
999       Buckie  2016-10-10    Vitamins   30289  3343246

[1000 rows x 5 columns]

In [32]:
pd.read_sql("""
select first_name, hire_date, department,salary,
sum(salary) over(order by hire_date rows between 1 preceding and current row) as total_running_salaries
from employees;
""",engine)

     first_name   hire_date         department  salary  total_running_salaries
0        Norbie  2003-01-01          First Aid   82215                   82215
1     Cassandra  2003-01-01             Beauty  106936                  189151
2          Rora  2003-01-12  Children Clothing  153489                  260425
3        Feliks  2003-01-14          Computers   55307                  208796
4      Cecilius  2003-01-20           Vitamins   98882                  154189
5      Eugenius  2003-01-26               Toys  152118                  251000
6      Fiorenze  2003-02-17   Phones & Tablets   51266                  203384
7        Elnora  2003-02-22          First Aid   34355                   85621
8       Chelsey  2003-02-24          First Aid   57309                   91664
9      Dorothea  2003-02-27            Grocery   46062                  103371
10      Yardley  2003-02-28            Jewelry   26876                   72938
11        Dayle  2003-03-01          First Aid   82753                  109629
12         Bear  2003-03-02              Decor  143117                  225870
13       Nonnah  2003-03-08              Music  145169                  288286
14        Jamie  2003-03-13          Cosmetics   99770                  244939
15         Arvy  2003-03-16             Garden   76125                  175895
16         Edna  2003-04-09  Children Clothing   91397                  167522
17         Alis  2003-04-09              Books  148531                  239928
18    Maryellen  2003-04-19         Automotive  115973                  264504
19       Dorene  2003-04-23              Decor   97700                  213673
20    Archibold  2003-04-26         Automotive   69379                  167079
21         Tabb  2003-05-02         Automotive   47591                  116970
22    Krystalle  2003-05-05              Decor  135377                  182968
23       Granny  2003-05-13             Movies  125798                  261175
24      Darnall  2003-05-23           Clothing   77589                  203387
25         Eddy  2003-05-28              Decor   99124                  176713
26       Creigh  2003-05-31          Furniture  133537                  232661
27        Byron  2003-06-02              Books   54434                  187971
28       Abbott  2003-06-05         Automotive  106517                  160951
29      Rubetta  2003-06-07  Children Clothing  104955                  211472
..          ...         ...                ...     ...                     ...
970      Darrin  2016-08-10          Furniture   86327                  246542
971       Kermy  2016-08-13            Grocery   35931                  122258
972      Eudora  2016-08-18           Clothing   31792                   67723
973     Shelton  2016-08-22              Decor  139827                  171619
974     Rodolph  2016-08-24          Computers   45769                  185596
975     Mirelle  2016-08-27      Device Repair   23051                   68820
976  Clementina  2016-09-04         Automotive   95492                  118543
977    Birgitta  2016-09-12           Clothing   77259                  172751
978      Harold  2016-09-22             Garden  105274                  182533
979     Linnell  2016-09-25          Computers   98885                  204159
980     Carissa  2016-09-25              Music  166765                  265650
981     Ernesto  2016-09-26              Music   57633                  224398
982        Roma  2016-10-02              Tools  120070                  177703
983       Berti  2016-10-06  Children Clothing  150740                  270810
984      Lebbie  2016-10-07            Grocery   57389                  208129
985       Jeane  2016-10-09           Pharmacy  136466                  193855
986      Buckie  2016-10-10           Vitamins   30289                  166755
987         Reg  2016-10-28             Beauty   36053                   66342
988       Alvin  2016-11-01             Beauty   69999                  106052
989        Dona  2016-11-09              Decor   98159                  168158
990       Darin  2016-11-18             Movies  142023                  240182
991     Malcolm  2016-11-24             Garden  138493                  280516
992       Hewet  2016-11-24   Phones & Tablets  113979                  252472
993    Adelaide  2016-12-01               Toys   27578                  141557
994     Marlowe  2016-12-01            Jewelry   66384                   93962
995      Eloisa  2016-12-02           Clothing   39200                  105584
996        Edik  2016-12-11              Tools   88378                  127578
997       Roxie  2016-12-16   Phones & Tablets   42224                  130602
998   Cherianne  2016-12-18         Automotive  150821                  193045
999       Barby  2016-12-26           Clothing  164588                  315409

[1000 rows x 5 columns]

In [33]:
pd.read_sql("""
select first_name, email, department, salary,
rank() over(partition by department order by salary desc)
from employees
""",engine)

      first_name                               email  department  salary  rank
0           Mill                                None  Automotive  162522     1
1          Irita               istarie2h@answers.com  Automotive  160783     2
2         Tammie                                None  Automotive  160039     3
3         Roslyn                     rguiu3h@com.com  Automotive  157260     4
4         Betsey                breedshawc5@phoca.cz  Automotive  152141     5
5      Cherianne                                None  Automotive  150821     6
6        Chrissy              cappletonlq@census.gov  Automotive  146522     7
7          Poppy                   plinesn7@gmpg.org  Automotive  144511     8
8             Cy                    cmenceft@icq.com  Automotive  144146     9
9        Jilleen                                None  Automotive  137393    10
10       Merlina                                None  Automotive  137094    11
11        Charis             cbradbornejp@scribd.com  Automotive  130995    12
12        Stormy                                None  Automotive  126983    13
13        Noelyn            ndemarchiiy@slashdot.org  Automotive  125305    14
14         Cybil                     cperezea@a8.net  Automotive  123828    15
15       Lorelle              lkelberman7l@wired.com  Automotive  119959    16
16     Maryellen         mwestnedgepq@guardian.co.uk  Automotive  115973    17
17       Ladonna                    lmccrow8g@nhs.uk  Automotive  111775    18
18          Ivie                 iaubreykx@google.es  Automotive  111359    19
19        Abbott                 amundowhz@prlog.org  Automotive  106517    20
20           Doe             dlarkworthyao@amazon.de  Automotive  106046    21
21         Vanda                 vmarwickm@upenn.edu  Automotive  103570    22
22    Clementina           cfrankcombec1@foxnews.com  Automotive   95492    23
23      Jessalyn              jhorleycn@bluehost.com  Automotive   86929    24
24      Lauretta             lroundsa6@wordpress.org  Automotive   75978    25
25     Archibold                    adeelynb@fda.gov  Automotive   69379    26
26        Katlin                 kbemroseg1@webs.com  Automotive   60089    27
27      Sterling             spagen6w@privacy.gov.au  Automotive   56095    28
28           Way               wkochlinm6@meetup.com  Automotive   51989    29
29          Tabb           thuddlestonrf@yahoo.co.jp  Automotive   47591    30
..           ...                                 ...         ...     ...   ...
970         Cary                ckelshaw6i@alexa.com    Vitamins  139145     8
971        Nadia                 nalonsoh3@google.fr    Vitamins  136017     9
972      Trescha                tperksjx@storify.com    Vitamins  135611    10
973        Gilda             gcromartyo8@cbsnews.com    Vitamins  133010    11
974  Archambault           amarriner8l@angelfire.com    Vitamins  123287    12
975       Odessa  osimesterpf@nationalgeographic.com    Vitamins  123268    13
976       Arlina                                None    Vitamins  122516    14
977      Garrard                gbaudoneil@hexun.com    Vitamins  104859    15
978         Lion                                None    Vitamins  104269    16
979        Lyndy               lsatterleyms@ucsd.edu    Vitamins  103572    17
980     Cecilius                 ccotteyki@exblog.jp    Vitamins   98882    18
981      William          wbletchernd@washington.edu    Vitamins   95453    19
982          Fee                     fshamaq7@si.edu    Vitamins   80502    20
983         Tobi                 tlamasna1y@gmpg.org    Vitamins   68925    21
984        Daren                                None    Vitamins   67549    22
985         Alfy               aokeevanj6@tumblr.com    Vitamins   64811    23
986        Ivett                                None    Vitamins   64753    24
987         Evin                                None    Vitamins   59706    25
988      Bradley                  btollidaycj@gov.uk    Vitamins   55793    26
989        Earle                 ecaveneynw@ucoz.com    Vitamins   53808    27
990       Mikael                    mkybbye12@si.edu    Vitamins   52642    28
991         Zita                    zlaviskd@pbs.org    Vitamins   51503    29
992        Shell      stungatekm@constantcontact.com    Vitamins   47649    30
993         Gran           gnelthroppha@netvibes.com    Vitamins   43666    31
994        Suzie          smeadowcraftnq@pcworld.com    Vitamins   36127    32
995       Buckie         bjodrellec7z@vistaprint.com    Vitamins   30289    33
996   Bartholemy            bcrudgintone1@dion.ne.jp    Vitamins   25238    34
997      Maridel                 mwhellans9i@hud.gov    Vitamins   24884    35
998        Ashia                                None    Vitamins   22190    36
999          Ame                   apateman97@ca.gov    Vitamins   21931    37

[1000 rows x 5 columns]

In [34]:
pd.read_sql("""
select * from (
select first_name, email, department, salary,
rank() over(partition by department order by salary desc)
from employees
) a where rank = 2;
""",engine)

   first_name                          email         department  salary  rank
0       Irita          istarie2h@answers.com         Automotive  160783     2
1       Urban        uconwelll7@multiply.com             Beauty  162169     2
2      Phoebe              preameen@noaa.gov              Books  158680     2
3       Levin    lchurchard66@prnewswire.com            Camping  159946     2
4        Rora            rbrumfitt26@ucoz.ru  Children Clothing  153489     2
5       Barby              bdaniellly@cbc.ca           Clothing  164588     2
6     Parnell         pdavidoff8i@zimbio.com          Computers  155000     2
7        Marc     mcostleyan@photobucket.com          Cosmetics  158810     2
8         Viv                           None              Decor  152618     2
9       Wynne           wfourcade4h@uiuc.edu      Device Repair  161532     2
10       Orsa            otournel5@webmd.com          First Aid  163239     2
11     Gerick                           None          Furniture  158121     2
12     Peyton                           None              Games  137463     2
13    Cristen           clayingo2@scribd.com             Garden  158227     2
14    Kerstin                           None            Grocery  162926     2
15      Ellyn  etimewell8z@sciencedirect.com            Jewelry  154491     2
16      Kaleb         karnefieldpr@cisco.com        Maintenance  149076     2
17      Kerry   ktollerfieldio@wordpress.org             Movies  156513     2
18   Hermione                           None              Music  164219     2
19      Paxon           pnorthidgek8@ftc.gov           Pharmacy  162924     2
20      Heath                           None   Phones & Tablets  156926     2
21      Giana            glothean9q@ox.ac.uk           Plumbing  144363     2
22     Tallie       tgreatrakesjk@discuz.net           Security  146932     2
23   Sherwynd       sshellidayf2@t-online.de             Sports  164470     2
24     Babara          bantoniewiczmg@nhs.uk              Tools  153102     2
25     Robers                           None               Toys  161949     2
26      Norri          ntandey83@sina.com.cn           Vitamins  158847     2

In [35]:
pd.read_sql("""
select first_name, email, department, salary,
ntile(6) over(partition by department order by salary desc)
from employees
""", engine)

,first_name,email,department,salary,ntile
0,Mill,None,Automotive,162522,1
1,Irita,istarie2h@answers.com,Automotive,160783,1
2,Tammie,None,Automotive,160039,1
3,Roslyn,rguiu3h@com.com,Automotive,157260,1
4,Betsey,breedshawc5@phoca.cz,Automotive,152141,1
5,Cherianne,None,Automotive,150821,1
6,Chrissy,cappletonlq@census.gov,Automotive,146522,2
7,Poppy,plinesn7@gmpg.org,Automotive,144511,2
8,Cy,cmenceft@icq.com,Automotive,144146,2
9,Jilleen,None,Automotive,137393,2
10,Merlina,None,Automotive,137094,2
11,Charis,cbradbornejp@scribd.com,Automotive,130995,2
12,Stormy,None,Automotive,126983,3
13,Noelyn,ndemarchiiy@slashdot.org,Automotive,125305,3
14,Cybil,cperezea@a8.net,Automotive,123828,3
15,Lorelle,lkelberman7l@wired.com,Automotive,119959,3
16,Maryellen,mwestnedgepq@guardian.co.uk,Automotive,115973,3
17,Ladonna,lmccrow8g@nhs.uk,Automotive,111775,4
18,Ivie,iaubreykx@google.es,Automotive,111359,4
19,Abbott,amundowhz@prlog.org,Automotive,106517,4
20,Doe,dlarkworthyao@amazon.de,Automotive,106046,4
21,Vanda,vmarwickm@upenn.edu,Automotive,103570,4
22,Clementina,cfrankcombec1@foxnews.com,Automotive,95492,5
23,Jessalyn,jhorleycn@bluehost.com,Automotive,86929,5
24,Lauretta,lroundsa6@wordpress.org,Automotive,75978,5
25,Archibold,adeelynb@fda.gov,Automotive,69379,5
26,Katlin,kbemroseg1@webs.com,Automotive,60089,5
27,Sterling,spagen6w@privacy.gov.au,Automotive,56095,6
28,Way,wkochlinm6@meetup.com,Automotive,51989,6
29,Tabb,thuddlestonrf@yahoo.co.jp,Automotive,47591,6
...,...,...,...,...,...
970,Cary,ckelshaw6i@alexa.com,Vitamins,139145,2
971,Nadia,nalonsoh3@google.fr,Vitamins,136017,2
972,Trescha,tperksjx@storify.com,Vitamins,135611,2
973,Gilda,gcromartyo8@cbsnews.com,Vitamins,133010,2
974,Archambault,amarriner8l@angelfire.com,Vitamins,123287,2
975,Odessa,osimesterpf@nationalgeographic.com,Vitamins,123268,2
976,Arlina,None,Vitamins,122516,3
977,Garrard,gbaudoneil@hexun.com,Vitamins,104859,3
978,Lion,None,Vitamins,104269,3
979,Lyndy,lsatterleyms@ucsd.edu,Vitamins,103572,3
980,Cecilius,ccotteyki@exblog.jp,Vitamins,98882,3
981,William,wbletchernd@washington.edu,Vitamins,95453,3
982,Fee,fshamaq7@si.edu,Vitamins,80502,4
983,Tobi,tlamasna1y@gmpg.org,Vitamins,68925,4
984,Daren,None,Vitamins,67549,4
985,Alfy,aokeevanj6@tumblr.com,Vitamins,64811,4
986,Ivett,None,Vitamins,64753,4
987,Evin,None,Vitamins,59706,4
988,Bradley,btollidaycj@gov.uk,Vitamins,55793,5
989,Earle,ecaveneynw@ucoz.com,Vitamins,53808,5
990,Mikael,mkybbye12@si.edu,Vitamins,52642,5
991,Zita,zlaviskd@pbs.org,Vitamins,51503,5
992,Shell,stungatekm@constantcontact.com,Vitamins,47649,5
993,Gran,gnelthroppha@netvibes.com,Vitamins,43666,5
994,Suzie,smeadowcraftnq@pcworld.com,Vitamins,36127,6
995,Buckie,bjodrellec7z@vistaprint.com,Vitamins,30289,6
996,Bartholemy,bcrudgintone1@dion.ne.jp,Vitamins,25238,6
997,Maridel,mwhellans9i@hud.gov,Vitamins,24884,6
998,Ashia,None,Vitamins,22190,6
999,Ame,apateman97@ca.gov,Vitamins,21931,6

In [52]:
pd.read_sql("""
select * from(
select first_name, email, department, salary,
ntile(6) over(partition by department order by salary desc)
from employees)a where department = 'Automotive';
""",engine)

    first_name                        email  department  salary  ntile
0         Mill                         None  Automotive  162522      1
1        Irita        istarie2h@answers.com  Automotive  160783      1
2       Tammie                         None  Automotive  160039      1
3       Roslyn              rguiu3h@com.com  Automotive  157260      1
4       Betsey         breedshawc5@phoca.cz  Automotive  152141      1
5    Cherianne                         None  Automotive  150821      1
6      Chrissy       cappletonlq@census.gov  Automotive  146522      2
7        Poppy            plinesn7@gmpg.org  Automotive  144511      2
8           Cy             cmenceft@icq.com  Automotive  144146      2
9      Jilleen                         None  Automotive  137393      2
10     Merlina                         None  Automotive  137094      2
11      Charis      cbradbornejp@scribd.com  Automotive  130995      2
12      Stormy                         None  Automotive  126983      3
13      Noelyn     ndemarchiiy@slashdot.org  Automotive  125305      3
14       Cybil              cperezea@a8.net  Automotive  123828      3
15     Lorelle       lkelberman7l@wired.com  Automotive  119959      3
16   Maryellen  mwestnedgepq@guardian.co.uk  Automotive  115973      3
17     Ladonna             lmccrow8g@nhs.uk  Automotive  111775      4
18        Ivie          iaubreykx@google.es  Automotive  111359      4
19      Abbott          amundowhz@prlog.org  Automotive  106517      4
20         Doe      dlarkworthyao@amazon.de  Automotive  106046      4
21       Vanda          vmarwickm@upenn.edu  Automotive  103570      4
22  Clementina    cfrankcombec1@foxnews.com  Automotive   95492      5
23    Jessalyn       jhorleycn@bluehost.com  Automotive   86929      5
24    Lauretta      lroundsa6@wordpress.org  Automotive   75978      5
25   Archibold             adeelynb@fda.gov  Automotive   69379      5
26      Katlin          kbemroseg1@webs.com  Automotive   60089      5
27    Sterling      spagen6w@privacy.gov.au  Automotive   56095      6
28         Way        wkochlinm6@meetup.com  Automotive   51989      6
29        Tabb    thuddlestonrf@yahoo.co.jp  Automotive   47591      6
30     Berkley                         None  Automotive   44641      6
31      Laurie    linfantinonf@china.com.cn  Automotive   29752      6

In [36]:
pd.read_sql("""
select first_name, email, department, salary,
first_value(salary) over(partition by department order by salary desc)
from employees;
""",engine)

,first_name,email,department,salary,first_value
0,Mill,None,Automotive,162522,162522
1,Irita,istarie2h@answers.com,Automotive,160783,162522
2,Tammie,None,Automotive,160039,162522
3,Roslyn,rguiu3h@com.com,Automotive,157260,162522
4,Betsey,breedshawc5@phoca.cz,Automotive,152141,162522
5,Cherianne,None,Automotive,150821,162522
6,Chrissy,cappletonlq@census.gov,Automotive,146522,162522
7,Poppy,plinesn7@gmpg.org,Automotive,144511,162522
8,Cy,cmenceft@icq.com,Automotive,144146,162522
9,Jilleen,None,Automotive,137393,162522
10,Merlina,None,Automotive,137094,162522
11,Charis,cbradbornejp@scribd.com,Automotive,130995,162522
12,Stormy,None,Automotive,126983,162522
13,Noelyn,ndemarchiiy@slashdot.org,Automotive,125305,162522
14,Cybil,cperezea@a8.net,Automotive,123828,162522
15,Lorelle,lkelberman7l@wired.com,Automotive,119959,162522
16,Maryellen,mwestnedgepq@guardian.co.uk,Automotive,115973,162522
17,Ladonna,lmccrow8g@nhs.uk,Automotive,111775,162522
18,Ivie,iaubreykx@google.es,Automotive,111359,162522
19,Abbott,amundowhz@prlog.org,Automotive,106517,162522
20,Doe,dlarkworthyao@amazon.de,Automotive,106046,162522
21,Vanda,vmarwickm@upenn.edu,Automotive,103570,162522
22,Clementina,cfrankcombec1@foxnews.com,Automotive,95492,162522
23,Jessalyn,jhorleycn@bluehost.com,Automotive,86929,162522
24,Lauretta,lroundsa6@wordpress.org,Automotive,75978,162522
25,Archibold,adeelynb@fda.gov,Automotive,69379,162522
26,Katlin,kbemroseg1@webs.com,Automotive,60089,162522
27,Sterling,spagen6w@privacy.gov.au,Automotive,56095,162522
28,Way,wkochlinm6@meetup.com,Automotive,51989,162522
29,Tabb,thuddlestonrf@yahoo.co.jp,Automotive,47591,162522
...,...,...,...,...,...
970,Cary,ckelshaw6i@alexa.com,Vitamins,139145,163933
971,Nadia,nalonsoh3@google.fr,Vitamins,136017,163933
972,Trescha,tperksjx@storify.com,Vitamins,135611,163933
973,Gilda,gcromartyo8@cbsnews.com,Vitamins,133010,163933
974,Archambault,amarriner8l@angelfire.com,Vitamins,123287,163933
975,Odessa,osimesterpf@nationalgeographic.com,Vitamins,123268,163933
976,Arlina,None,Vitamins,122516,163933
977,Garrard,gbaudoneil@hexun.com,Vitamins,104859,163933
978,Lion,None,Vitamins,104269,163933
979,Lyndy,lsatterleyms@ucsd.edu,Vitamins,103572,163933
980,Cecilius,ccotteyki@exblog.jp,Vitamins,98882,163933
981,William,wbletchernd@washington.edu,Vitamins,95453,163933
982,Fee,fshamaq7@si.edu,Vitamins,80502,163933
983,Tobi,tlamasna1y@gmpg.org,Vitamins,68925,163933
984,Daren,None,Vitamins,67549,163933
985,Alfy,aokeevanj6@tumblr.com,Vitamins,64811,163933
986,Ivett,None,Vitamins,64753,163933
987,Evin,None,Vitamins,59706,163933
988,Bradley,btollidaycj@gov.uk,Vitamins,55793,163933
989,Earle,ecaveneynw@ucoz.com,Vitamins,53808,163933
990,Mikael,mkybbye12@si.edu,Vitamins,52642,163933
991,Zita,zlaviskd@pbs.org,Vitamins,51503,163933
992,Shell,stungatekm@constantcontact.com,Vitamins,47649,163933
993,Gran,gnelthroppha@netvibes.com,Vitamins,43666,163933
994,Suzie,smeadowcraftnq@pcworld.com,Vitamins,36127,163933
995,Buckie,bjodrellec7z@vistaprint.com,Vitamins,30289,163933
996,Bartholemy,bcrudgintone1@dion.ne.jp,Vitamins,25238,163933
997,Maridel,mwhellans9i@hud.gov,Vitamins,24884,163933
998,Ashia,None,Vitamins,22190,163933
999,Ame,apateman97@ca.gov,Vitamins,21931,163933

In [37]:
pd.read_sql("""
select first_name, email, department, salary,
nth_value(salary,5) over(partition by department order by first_name desc)
from employees;
""",engine)

,first_name,email,department,salary,nth_value
0,Way,wkochlinm6@meetup.com,Automotive,51989,NaN
1,Vanda,vmarwickm@upenn.edu,Automotive,103570,NaN
2,Tammie,None,Automotive,160039,NaN
3,Tabb,thuddlestonrf@yahoo.co.jp,Automotive,47591,NaN
4,Stormy,None,Automotive,126983,126983.0
5,Sterling,spagen6w@privacy.gov.au,Automotive,56095,126983.0
6,Roslyn,rguiu3h@com.com,Automotive,157260,126983.0
7,Poppy,plinesn7@gmpg.org,Automotive,144511,126983.0
8,Noelyn,ndemarchiiy@slashdot.org,Automotive,125305,126983.0
9,Mill,None,Automotive,162522,126983.0
10,Merlina,None,Automotive,137094,126983.0
11,Maryellen,mwestnedgepq@guardian.co.uk,Automotive,115973,126983.0
12,Lorelle,lkelberman7l@wired.com,Automotive,119959,126983.0
13,Laurie,linfantinonf@china.com.cn,Automotive,29752,126983.0
14,Lauretta,lroundsa6@wordpress.org,Automotive,75978,126983.0
15,Ladonna,lmccrow8g@nhs.uk,Automotive,111775,126983.0
16,Katlin,kbemroseg1@webs.com,Automotive,60089,126983.0
17,Jilleen,None,Automotive,137393,126983.0
18,Jessalyn,jhorleycn@bluehost.com,Automotive,86929,126983.0
19,Ivie,iaubreykx@google.es,Automotive,111359,126983.0
20,Irita,istarie2h@answers.com,Automotive,160783,126983.0
21,Doe,dlarkworthyao@amazon.de,Automotive,106046,126983.0
22,Cybil,cperezea@a8.net,Automotive,123828,126983.0
23,Cy,cmenceft@icq.com,Automotive,144146,126983.0
24,Clementina,cfrankcombec1@foxnews.com,Automotive,95492,126983.0
25,Chrissy,cappletonlq@census.gov,Automotive,146522,126983.0
26,Cherianne,None,Automotive,150821,126983.0
27,Charis,cbradbornejp@scribd.com,Automotive,130995,126983.0
28,Betsey,breedshawc5@phoca.cz,Automotive,152141,126983.0
29,Berkley,None,Automotive,44641,126983.0
...,...,...,...,...,...
970,Shell,stungatekm@constantcontact.com,Vitamins,47649,68925.0
971,Romy,rvamplusj5@dagondesign.com,Vitamins,152916,68925.0
972,Odessa,osimesterpf@nationalgeographic.com,Vitamins,123268,68925.0
973,Norri,ntandey83@sina.com.cn,Vitamins,158847,68925.0
974,Nadia,nalonsoh3@google.fr,Vitamins,136017,68925.0
975,Mikael,mkybbye12@si.edu,Vitamins,52642,68925.0
976,Mendie,None,Vitamins,141707,68925.0
977,Maridel,mwhellans9i@hud.gov,Vitamins,24884,68925.0
978,Manolo,mgarlingbj@comsenz.com,Vitamins,146293,68925.0
979,Lyndy,lsatterleyms@ucsd.edu,Vitamins,103572,68925.0
980,Lion,None,Vitamins,104269,68925.0
981,Ivett,None,Vitamins,64753,68925.0
982,Gran,gnelthroppha@netvibes.com,Vitamins,43666,68925.0
983,Gilda,gcromartyo8@cbsnews.com,Vitamins,133010,68925.0
984,Garrard,gbaudoneil@hexun.com,Vitamins,104859,68925.0
985,Fee,fshamaq7@si.edu,Vitamins,80502,68925.0
986,Evin,None,Vitamins,59706,68925.0
987,Elvera,etinlinef9@who.int,Vitamins,163933,68925.0
988,Earle,ecaveneynw@ucoz.com,Vitamins,53808,68925.0
989,Daren,None,Vitamins,67549,68925.0
990,Cecilius,ccotteyki@exblog.jp,Vitamins,98882,68925.0
991,Cary,ckelshaw6i@alexa.com,Vitamins,139145,68925.0
992,Buckie,bjodrellec7z@vistaprint.com,Vitamins,30289,68925.0
993,Bradley,btollidaycj@gov.uk,Vitamins,55793,68925.0
994,Bartholemy,bcrudgintone1@dion.ne.jp,Vitamins,25238,68925.0
995,Ashia,None,Vitamins,22190,68925.0
996,Arlina,None,Vitamins,122516,68925.0
997,Archambault,amarriner8l@angelfire.com,Vitamins,123287,68925.0
998,Ame,apateman97@ca.gov,Vitamins,21931,68925.0
999,Alfy,aokeevanj6@tumblr.com,Vitamins,64811,68925.0

In [55]:
pd.read_sql("""
select department, last_name, salary,
lag(salary) over(order by salary desc) closest_highest_salary
from employees;
""",engine)

            department     last_name  salary  closest_highest_salary
0             Clothing      Finlator  166976                     NaN
1                Music      Gabbitus  166765                166976.0
2              Camping     Yellowlea  166569                166765.0
3             Pharmacy    Bertenshaw  166016                166569.0
4               Sports      Olifaunt  165660                166016.0
5             Clothing       Daniell  164588                165660.0
6              Grocery       Wessell  164582                164588.0
7               Sports     Shelliday  164470                164582.0
8        Device Repair       Huggard  164355                164470.0
9                Music    Bellhanger  164219                164355.0
10           First Aid       Medwell  164011                164219.0
11            Vitamins       Tinline  163933                164011.0
12             Jewelry       Garbutt  163794                163933.0
13                Toys      Keyworth  163688                163794.0
14           Computers          Jans  163512                163688.0
15              Garden        Sawkin  163361                163512.0
16           First Aid        Tourne  163239                163361.0
17             Grocery     Shildrick  162926                163239.0
18            Pharmacy     Northidge  162924                162926.0
19              Beauty     Backhouse  162845                162924.0
20          Automotive         Makey  162522                162845.0
21           Cosmetics       Goacher  162454                162522.0
22               Music        Cardus  162341                162454.0
23            Security         Bader  162233                162341.0
24               Music     Adamowicz  162206                162233.0
25              Beauty       Conwell  162169                162206.0
26                Toys    Giacomozzo  161949                162169.0
27       Device Repair      Fourcade  161532                161949.0
28            Pharmacy   Wheelwright  161357                161532.0
29               Music      Allender  161283                161357.0
..                 ...           ...     ...                     ...
970              Tools       Vedstra   25037                 25114.0
971           Vitamins      Whellans   24884                 25037.0
972              Decor         Howle   24876                 24884.0
973              Music      Giffkins   24799                 24876.0
974              Tools      Shemwell   24777                 24799.0
975             Garden      Chisnell   24614                 24777.0
976              Decor        Kringe   23989                 24614.0
977           Pharmacy        McCory   23915                 23989.0
978          Computers      Matthiae   23878                 23915.0
979              Tools     Dovermann   23582                 23878.0
980  Children Clothing        Jansey   23348                 23582.0
981  Children Clothing    Curbishley   23159                 23348.0
982      Device Repair        Glusby   23051                 23159.0
983              Games     Fissenden   22983                 23051.0
984            Grocery       Sperski   22796                 22983.0
985             Beauty        Kettow   22348                 22796.0
986             Garden      Wallwork   22326                 22348.0
987          Cosmetics        Mouton   22284                 22326.0
988           Vitamins        Stoves   22190                 22284.0
989             Beauty         Bachs   22053                 22190.0
990           Vitamins       Pateman   21931                 22053.0
991             Sports        Younie   21735                 21931.0
992          Computers    Davidowich   21626                 21735.0
993            Grocery       Stilgoe   21120                 21626.0
994              Decor        Larose   21024                 21120.0
995      Device Repair         Giggs   21023                 21024.0
996              Music  Crombleholme   20776                 21023.0
997      Device Repair       Spurdon   20664                 20776.0
998            Grocery        Dannel   20613                 20664.0
999           Pharmacy     Lenchenko   20542                 20613.0

[1000 rows x 4 columns]

In [6]:
import numpy as np

In [7]:
# np.where("rating" < 3, "low",np.where(("rating" >=3) &("rating" < 5),\
#                                       "Medium","high"))

In [39]:
print(11**2, 111**2, 1111**2)

121 12321 1234321

In [46]:
s = "abc"
if len(s)%2 !=0:
    s = s+"_"
res=[s[i:i+2] for i in range(0,len(s),2)]

['ab', 'c_']

In [47]:
intab = "aeiou"
outtab = "12345"
trantab = str.maketrans(intab, outtab)

str = "this is string example....wow!!!"
print (str.translate(trantab))

th3s 3s str3ng 2x1mpl2....w4w!!!

In [48]:
trantab

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}

In [6]:
data = pd.read_csv("cereal.csv")

In [7]:
data.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [8]:
data = data[["name","mfr","type"]]

In [11]:
data.to_sql("data", engine,index=False)