In [1]:
#list

In [2]:
li = list()

In [3]:
li

[]

In [4]:
li.append(1)

In [5]:
li

[1]

In [6]:
li.append("a")

In [7]:
li

[1, 'a']

In [8]:
li.extend([3,4,"f","df"])

In [9]:
li

[1, 'a', 3, 4, 'f', 'df']

In [10]:
li.extend("df")

In [11]:
li

[1, 'a', 3, 4, 'f', 'df', 'd', 'f']

In [12]:
li.insert(1,2)

In [13]:
li

[1, 2, 'a', 3, 4, 'f', 'df', 'd', 'f']

In [14]:
li.pop()

'f'

In [15]:
li

[1, 2, 'a', 3, 4, 'f', 'df', 'd']

In [16]:
li.pop(3)

3

In [17]:
li

[1, 2, 'a', 4, 'f', 'df', 'd']

In [18]:
li.reverse()

In [19]:
li

['d', 'df', 'f', 4, 'a', 2, 1]

In [21]:
li = reversed(li)

In [23]:
next(li)

1

In [24]:
li = list(li)

In [25]:
li

[2, 'a', 4, 'f', 'df', 'd']

In [26]:
# li.reverse()
# li[::-1]

In [27]:
#shallow copy and deep copy

In [28]:
li = [1,2,3]

In [29]:
new_li = li #deep copy

In [30]:
new_li

[1, 2, 3]

In [31]:
new_li.append(4)

In [32]:
new_li

[1, 2, 3, 4]

In [33]:
li

[1, 2, 3, 4]

In [34]:
li2 = li.copy()

In [35]:
li2

[1, 2, 3, 4]

In [36]:
li2.append(5)

In [37]:
li2

[1, 2, 3, 4, 5]

In [38]:
li

[1, 2, 3, 4]

In [39]:
#list comprehension

In [40]:
li = [1,2,3,4,5]

In [41]:
[1,2,9,16,25]

[1, 2, 9, 16, 25]

In [43]:
# for ele in li:
#     print(ele**2)

In [44]:
# [<return expression> for <var> in <iterable object> <condition>]

In [45]:
li

[1, 2, 3, 4, 5]

In [46]:
new_li = [x**2 for x in li]

In [47]:
new_li

[1, 4, 9, 16, 25]

In [48]:
# range(start position, stop position, step)

In [50]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
[x**2 for x in range(2,21,2)]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [54]:
[x**2 for x in range(50) if x%2==0]

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304]

In [55]:
names = ["anuj", "aditya", "momita","shavika"]

In [57]:
[x.upper() for x in names if len(x) <=6]

['ANUJ', 'ADITYA', 'MOMITA']

In [53]:
#tuple

In [58]:
a = 1,2,3,4,5,6

In [59]:
a

(1, 2, 3, 4, 5, 6)

In [60]:
a = (1,2,3,4)

In [61]:
a

(1, 2, 3, 4)

In [62]:
type(a)

tuple

In [63]:
a = (1,2,[3,4])

In [64]:
a[2].extend("hey")

In [65]:
a

(1, 2, [3, 4, 'h', 'e', 'y'])

In [66]:
#variables unpacking

In [67]:
a = 1,2,3,4,5

In [68]:
a

(1, 2, 3, 4, 5)

In [69]:
a = 1,2

In [70]:
a

(1, 2)

In [71]:
a,b = 1,2

In [72]:
a

1

In [73]:
b

2

In [74]:
a,b = 1,2,3,4

ValueError: too many values to unpack (expected 2)

In [75]:
a, b = 1

TypeError: 'int' object is not iterable

In [76]:
a,b = "hi"

In [77]:
a

'h'

In [78]:
b

'i'

In [79]:
a,b = 1,2,3,456,6,6,4,3,5,6,33,5,5

ValueError: too many values to unpack (expected 2)

In [80]:
a,*b = 1,2,3,456,6,6,4,3,5,6,33,5,5

In [81]:
a

1

In [82]:
b

[2, 3, 456, 6, 6, 4, 3, 5, 6, 33, 5, 5]

In [83]:
a,*b,c = 1,2,3,456,6,6,4,3,5,6,33,5,5

In [84]:
a

1

In [85]:
b

[2, 3, 456, 6, 6, 4, 3, 5, 6, 33, 5]

In [86]:
c

5

In [88]:
a,*b= 1,2,3,456,6,6,4,3,5,6,33,5,5

In [89]:
b

[2, 3, 456, 6, 6, 4, 3, 5, 6, 33, 5, 5]

In [90]:
#set

In [91]:
a = {1,2,33,2,22,3,341,21,2,33321,2222}

In [92]:
a

{1, 2, 3, 21, 22, 33, 341, 2222, 33321}

In [93]:
a.add("a")

In [94]:
a

{1, 2, 3, 33, 33321, 'a', 2222, 341, 22, 21}

In [95]:
li = [1,2,1,3,2,1]

In [97]:
list(set(li))

[1, 2, 3]

In [99]:
a.add([2,3])

TypeError: unhashable type: 'list'

In [100]:
#dictionary

In [101]:
s = {}

In [102]:
type(s)

dict

In [104]:
# s[<key>]   ---- returns a value at specified key

In [105]:
# s[<key>] = <value> 

# 1. if key already exits, replaces the old value with new
# 2. if does not exist, then create a new key

In [106]:
s

{}

In [107]:
s["name"] = "Anuj"

In [108]:
s

{'name': 'Anuj'}

In [109]:
s["name"]

'Anuj'

In [110]:
# {<key expression>:<value expression> for <var> in iterable object <condition>}

In [111]:
names

['anuj', 'aditya', 'momita', 'shavika']

In [112]:
{ele: len(ele) for ele in names}

{'aditya': 6, 'anuj': 4, 'momita': 6, 'shavika': 7}

In [113]:
{len(ele): ele for ele in names}

{4: 'anuj', 6: 'momita', 7: 'shavika'}

In [114]:
s

{'name': 'Anuj'}

In [115]:
s[7] = "aditya"

In [116]:
s

{'name': 'Anuj', 7: 'aditya'}

In [117]:
s[7] = "momita"

In [118]:
s

{'name': 'Anuj', 7: 'momita'}

In [119]:
s.keys()

dict_keys(['name', 7])

In [120]:
s.values()

dict_values(['Anuj', 'momita'])

In [121]:
s.items()

dict_items([('name', 'Anuj'), (7, 'momita')])

In [122]:
s[[1,2]] = "hey"

TypeError: unhashable type: 'list'

In [123]:
import random as rnd

In [155]:
rnd.random()

0.47493344384915503

In [168]:
rnd.randrange(2,30,3)

23

In [196]:
rnd.randint(10,25)

23

In [197]:
names

['anuj', 'aditya', 'momita', 'shavika']

In [211]:
rnd.sample(names,2)

['momita', 'aditya']

In [212]:
rnd.shuffle(names)

In [213]:
names

['anuj', 'shavika', 'aditya', 'momita']