In [1]:
#Conditional statements

In [2]:
a = 10

In [3]:
input("Enter some number: ")

Enter some number: 4

'4'

In [4]:
a = input("Enter some number: ")

Enter some number: 3

In [5]:
type(a)

str

In [6]:
a

'3'

In [7]:
a = input("Enter some number: ")

Enter some number: [1,2,3]

In [8]:
a

'[1,2,3]'

In [9]:
a[0]

'['

In [10]:
a[1]

'1'

In [11]:
a[2]

','

In [12]:
a = int(input("Enter some number: "))

Enter some number: 4

In [13]:
a

4

In [14]:
a = list(input("Enter some number: "))

Enter some number: [1,2]

In [15]:
a

['[', '1', ',', '2', ']']

In [16]:
list("hie")

['h', 'i', 'e']

In [17]:
eval('1')

1

In [18]:
eval('[1,2,3]')

[1, 2, 3]

In [19]:
a = eval(input("Enter some number: "))

Enter some number: [1,2,3]

In [20]:
a

[1, 2, 3]

In [23]:
a = eval(input("Enter some number: "))

Enter some number: b

NameError: name 'b' is not defined

In [26]:
b = "a"

In [27]:
eval('b')

'a'

In [22]:
a

[1, 2, 3]

In [28]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if num1 > num2:
    print("First number is greater !!!")
    
else:
    print("Second is greater !!!!")

Enter first number: 3
Enter second number: 4
Second is greater !!!!

In [31]:
num1 = eval(input("Enter first number: "))
num2 = eval(input("Enter second number: "))

if type(num1)== int and type(num2) == int:
    if num1 > num2:
        print("First number is greater !!!")

    else:
        print("Second is greater !!!!")
        
else:
    print("Can't operate on this number !!!")

Enter first number: [1,2]
Enter second number: 2
Can't operate on this number !!!

In [32]:
#for loops

In [34]:
for ele in range(50):
    if ele%2 ==0:
        print(ele, end = " ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

In [35]:
s = "hello"

In [36]:
for ele in s[::-1]:
    print(ele, end = "")

olleh

In [37]:
for ele in range(len(s)-1 , -1, -1):
    print(s[ele], end="")

olleh

In [44]:
"".join(list(s))[::-1]

'olleh'

In [45]:
it = reversed(list(s))

In [48]:
next(it)

'l'

In [49]:
a = "hie"

In [50]:
print(a)

hie

In [54]:
next(it)

StopIteration:

In [55]:
text = input("Enter string: ")

Enter string: abc

In [56]:
text

'abc'

In [57]:
["ab","c_"]

['ab', 'c_']

In [58]:
text = input("Enter string: ")

Enter string: abcd

In [59]:
text

'abcd'

In [60]:
["ab","cd"]

['ab', 'cd']

In [61]:
li = [1,1,2,3,2,4,5,6,5,6,7,8,7]

In [62]:
new_li = []
for ele in li:
    if ele not in new_li:
        new_li.append(ele)
        
print(new_li)

[1, 2, 3, 4, 5, 6, 7, 8]

In [63]:
#while loop

In [64]:
li

[1, 1, 2, 3, 2, 4, 5, 6, 5, 6, 7, 8, 7]

In [65]:
for ele in li:
    print(ele, end=" ")

1 1 2 3 2 4 5 6 5 6 7 8 7

In [67]:
index = 0
while index < len(li):
    print(li[index], end= " ")
    index +=1   #index = index+1

1 1 2 3 2 4 5 6 5 6 7 8 7

In [68]:
counter = int(input("Enter number:"))
while counter > 0:
    print(counter)
    counter-=1
    
else:
    print("Stopped !!")

Enter number:9
9
8
7
6
5
4
3
2
1
Stopped !!

In [69]:
#enumerate

In [70]:
li = [1,2,3,4]

In [71]:
for ele in li:
    print(ele, end=" ")

1 2 3 4

In [75]:
index= 0
for ele in li:
    if index==2:
        index+=1
        continue
        
    print(ele, end=" ")
    index+=1

1 2 4

In [78]:
for index, ele in enumerate(["hi","hello","hey","helloz"]):
    if index==2:
        continue
    print(index,ele)

0 hi
1 hello
3 helloz

In [79]:
list(enumerate(["hi","hello","hey","helloz"]))

[(0, 'hi'), (1, 'hello'), (2, 'hey'), (3, 'helloz')]

In [80]:
#format method

In [81]:
"My name is Anuj and i teach DS"

'My name is Anuj and i teach DS'

In [82]:
name = "Anuj"
sub = "DS"


"My name is {} and i teach {}".format(name, sub)

'My name is Anuj and i teach DS'

In [83]:
name = input("Enter trainer's name: ")
sub = input("Enter subject: ")


"My name is {} and i teach {}".format(name, sub)

Enter trainer's name: Anuj
Enter subject: DS

'My name is Anuj and i teach DS'

In [84]:
name = input("Enter trainer's name: ")
sub = input("Enter subject: ")


"My name is {0} and i teach {1} and i will continue teaching {1}".format(name, sub)

Enter trainer's name: an
Enter subject: ds

'My name is an and i teach ds and i will continue teaching ds'

In [85]:
name = input("Enter trainer's name: ")
sub = input("Enter subject: ")


"My name is {0} and i teach {1} and i will continue teaching {1}".format(sub, name)

Enter trainer's name: an
Enter subject: ds

'My name is ds and i teach an and i will continue teaching an'

In [86]:
name = input("Enter trainer's name: ")
sub = input("Enter subject: ")


"My name is {name} and i teach {subject}".format(subject = sub, name=name)

Enter trainer's name: anuj
Enter subject: ds

'My name is anuj and i teach ds'

In [87]:
import string

In [88]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [89]:
string.digits

'0123456789'

In [90]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [91]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [92]:
import random as rnd

In [143]:
"".join(rnd.sample(string.punctuation, 2) + rnd.sample(string.digits, 1)\
        + rnd.sample(string.ascii_lowercase, 5))

'-.2becrq'